@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #040c18;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  /* safari 5.1+,chrome 10+ */
  /* opera 11.10+ */
  /* ie 10+ */
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgb(0, 40, 83) 0%, rgb(4, 12, 24) 25%);
}

.gradient__text {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
}

.section__margin {
  margin: 4rem 6rem;
}
@media screen and (max-width: 700px) {
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__margin {
    margin: 4rem 2rem;
  }
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
@media screen and (max-width: 700px) {
  .gpt3__navbar {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }
}
.gpt3__navbar .gpt3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.gpt3__navbar .gpt3__navbar-links .gpt3__navbar-links_logo {
  margin-right: 2rem;
}
.gpt3__navbar .gpt3__navbar-links .gpt3__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}
.gpt3__navbar .gpt3__navbar-links .gpt3__navbar-links_container {
  display: flex;
}
@media screen and (max-width: 1050px) {
  .gpt3__navbar .gpt3__navbar-links .gpt3__navbar-links_container {
    display: none;
  }
}
.gpt3__navbar .gpt3__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .gpt3__navbar .gpt3__navbar-sign {
    display: none;
  }
}
.gpt3__navbar .gpt3__navbar-links_container p,
.gpt3__navbar .gpt3__navbar-sign p,
.gpt3__navbar .gpt3__navbar-menu_container p {
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}
.gpt3__navbar .gpt3__navbar-sign button,
.gpt3__navbar .gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  background: #ff4820;
  border-radius: 5px;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.gpt3__navbar .gpt3__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
@media screen and (max-width: 1050px) {
  .gpt3__navbar .gpt3__navbar-menu {
    display: flex;
  }
}
.gpt3__navbar .gpt3__navbar-menu svg {
  cursor: pointer;
}
.gpt3__navbar .gpt3__navbar-menu .gpt3__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #031834;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 550px) {
  .gpt3__navbar .gpt3__navbar-menu .gpt3__navbar-menu_container {
    top: 20px;
  }
}
.gpt3__navbar .gpt3__navbar-menu .gpt3__navbar-menu_container p {
  margin: 1rem 0;
}
.gpt3__navbar .gpt3__navbar-menu .gpt3__navbar-menu_container .gpt3__navbar-menu_container-links-sign {
  display: none;
}
@media screen and (max-width: 550px) {
  .gpt3__navbar .gpt3__navbar-menu .gpt3__navbar-menu_container .gpt3__navbar-menu_container-links-sign {
    display: block;
  }
}

.gpt3__header {
  display: flex;
}
@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }
}
.gpt3__header .gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}
@media screen and (max-width: 1050px) {
  .gpt3__header .gpt3__header-content {
    margin: 0 0 3rem;
  }
}
.gpt3__header .gpt3__header-content h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 90px;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header .gpt3__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
.gpt3__header .gpt3__header-content p {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #81afdd;
  margin-top: 1.5rem;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header .gpt3__header-content p {
    font-size: 13px;
    line-height: 24px;
  }
}
.gpt3__header .gpt3__header-content .gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}
.gpt3__header .gpt3__header-content .gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  background: #031834;
  border: 2px solid #031834;
  padding: 0 1rem;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__input input {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__input input {
    font-size: 12px;
    line-height: 16px;
  }
}
.gpt3__header .gpt3__header-content .gpt3__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  background: #ff4820;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 490px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
.gpt3__header .gpt3__header-content .gpt3__header-content__people {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__people {
    flex-direction: column;
  }
}
.gpt3__header .gpt3__header-content .gpt3__header-content__people img {
  width: 181.79px;
  height: 38px;
}
.gpt3__header .gpt3__header-content .gpt3__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .gpt3__header .gpt3__header-content .gpt3__header-content__people p {
    margin: 0;
  }
}
.gpt3__header .gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3__header .gpt3__header-image img {
  width: 100%;
  height: 100%;
}

.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.gpt3__brand div {
  flex: 1;
  max-width: 150px;
  min-height: 120px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__whatgpt3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--color-footer);
  /* ff 3.6+ */
  /* safari 5.1+,chrome 10+ */
  /* opera 11.10+ */
  /* ie 10+ */
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 30% -100%, #042c54 25%, rgb(4, 44, 84) 85%, rgb(27, 120, 222) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.gpt3__whatgpt3 .gpt3__whatgpt3-feature {
  display: flex;
  margin: 0;
}
@media screen and (max-width: 650px) {
  .gpt3__whatgpt3 .gpt3__whatgpt3-feature {
    flex-direction: column;
    margin-top: 0.5rem;
  }
}
.gpt3__whatgpt3 .gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 2rem;
}
@media screen and (max-width: 850px) {
  .gpt3__whatgpt3 .gpt3__whatgpt3-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }
}
.gpt3__whatgpt3 .gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
  font-family: "Manrope", sans-serif;
}
@media screen and (max-width: 650px) {
  .gpt3__whatgpt3 .gpt3__whatgpt3-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
.gpt3__whatgpt3 .gpt3__whatgpt3-heading p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  color: #ff8a71;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .gpt3__whatgpt3 .gpt3__whatgpt3-heading p {
    margin-top: 1rem;
  }
}
.gpt3__whatgpt3 .gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2rem;
}
@media screen and (max-width: 350px) {
  .gpt3__whatgpt3 .gpt3__whatgpt3-container {
    margin: 1rem 0;
    min-width: 100%;
  }
}

.gpt3__features-container__feature {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1rem;
}
@media screen and (max-width: 650px) {
  .gpt3__features-container__feature {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .gpt3__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__features-container__feature {
    margin: 1rem 0;
  }
}
.gpt3__features-container__feature .gpt3__features-container__feature-text {
  max-width: 700px;
  flex: 2;
  max-width: 390px;
  display: flex;
}
@media screen and (max-width: 650px) {
  .gpt3__features-container__feature .gpt3__features-container__feature-text {
    margin-top: 0.5rem;
  }
}
.gpt3__features-container__feature .gpt3__features-container__feature-text p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #81afdd;
}
@media screen and (max-width: 550px) {
  .gpt3__features-container__feature .gpt3__features-container__feature-text p {
    font-size: 12px;
    line-height: 20px;
  }
}
.gpt3__features-container__feature .gpt3__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}
.gpt3__features-container__feature .gpt3__features-container__feature-title h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04rem;
  color: #fff;
}
@media screen and (max-width: 550px) {
  .gpt3__features-container__feature .gpt3__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
  }
}
.gpt3__features-container__feature .gpt3__features-container__feature-title div {
  width: 38px;
  height: 3px;
  background: linear-gradient(183.22deg, #ae67fa -13.86%, #f49867 99.55%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 990px) {
  .gpt3__features {
    flex-direction: column;
  }
}
.gpt3__features .gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-right: 5rem;
}
@media screen and (max-width: 990px) {
  .gpt3__features .gpt3__features-heading {
    margin: 0 0 2rem 0;
  }
}
.gpt3__features .gpt3__features-heading h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}
@media screen and (max-width: 550px) {
  .gpt3__features .gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
.gpt3__features .gpt3__features-heading p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  color: #ff8a71;
  margin-top: 2rem;
}
.gpt3__features .gpt3__features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.gpt3__possibility {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 950px) {
  .gpt3__possibility {
    flex-direction: column;
  }
}
.gpt3__possibility .gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}
@media screen and (max-width: 950px) {
  .gpt3__possibility .gpt3__possibility-image {
    margin: 1rem 0;
  }
}
.gpt3__possibility .gpt3__possibility-image img {
  width: 100%;
  height: 100%;
}
.gpt3__possibility .gpt3__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
@media screen and (max-width: 950px) {
  .gpt3__possibility .gpt3__possibility-content {
    margin-top: 2rem;
  }
}
.gpt3__possibility .gpt3__possibility-content h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71E5FF;
}
.gpt3__possibility .gpt3__possibility-content h4:last-child {
  color: #ff8a71;
}
.gpt3__possibility .gpt3__possibility-content h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}
.gpt3__possibility .gpt3__possibility-content p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
  margin-bottom: 2rem;
}

.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: linear-gradient(183.22deg, #ae67fa -13.86%, #f49867 99.55%);
}
@media screen and (max-width: 41rem) {
  .gpt3__cta {
    flex-direction: column;
  }
}
@media screen and (max-width: 35rem) {
  .gpt3__cta {
    margin: 4rem 2rem;
  }
}
.gpt3__cta .gpt3__cta-content p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0E0E0E;
}
.gpt3__cta .gpt3__cta-content h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}
@media screen and (max-width: 35rem) {
  .gpt3__cta .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }
}
.gpt3__cta .gpt3__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
@media screen and (max-width: 41rem) {
  .gpt3__cta .gpt3__cta-btn {
    margin: 2rem 0 0;
  }
}
@media screen and (max-width: 35rem) {
  .gpt3__cta .gpt3__cta-btn {
    font-size: 14px;
    line-height: 28px;
  }
}
.gpt3__cta .gpt3__cta-btn button {
  background: #000000;
  border-radius: 2.5rem;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 9.375rem;
}

.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #031834;
}
.gpt3__blog-container_article .gpt3__blog-container_article-image {
  width: 100%;
  height: 100%;
  background: #031834;
}
.gpt3__blog-container_article .gpt3__blog-container_article-image img {
  width: 100%;
  height: 100%;
}
.gpt3__blog-container_article .gpt3__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}
.gpt3__blog-container_article .gpt3__blog-container_article-content p {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 11.649px;
  line-height: 35px;
  color: #fff;
}
.gpt3__blog-container_article .gpt3__blog-container_article-content p:last-child {
  cursor: pointer;
}
.gpt3__blog-container_article .gpt3__blog-container_article-content h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .gpt3__blog-container_article .gpt3__blog-container_article-content h3 {
    font-size: 18px;
    line-height: 25px;
  }
}

.gpt3__blog {
  display: flex;
  flex-direction: column;
}
.gpt3__blog .gpt3__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}
.gpt3__blog .gpt3__blog-heading h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}
@media screen and (max-width: 700px) {
  .gpt3__blog .gpt3__blog-heading h1 {
    font-size: 46px;
    line-height: 52px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__blog .gpt3__blog-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
.gpt3__blog .gpt3__blog-container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 990px) {
  .gpt3__blog .gpt3__blog-container {
    flex-direction: column-reverse;
  }
}
.gpt3__blog .gpt3__blog-container .gpt3__blog-container_groupA {
  flex: 0.75;
  margin-right: 2rem;
}
@media screen and (max-width: 990px) {
  .gpt3__blog .gpt3__blog-container .gpt3__blog-container_groupA {
    margin: 2rem 0;
    width: 48%;
    height: 15.625rem;
  }
}
@media screen and (max-width: 700px) {
  .gpt3__blog .gpt3__blog-container .gpt3__blog-container_groupA {
    width: 100%;
  }
}
.gpt3__blog .gpt3__blog-container .gpt3__blog-container_groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 700px) {
  .gpt3__blog .gpt3__blog-container .gpt3__blog-container_groupB {
    grid-template-columns: repeat(1, 1fr);
  }
}

.gpt3__footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #031834;
}
.gpt3__footer .gpt3__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.gpt3__footer .gpt3__footer-heading h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  text-align: center;
  letter-spacing: -0.04rem;
}
@media screen and (max-width: 850px) {
  .gpt3__footer .gpt3__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__footer .gpt3__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media screen and (max-width: 350px) {
  .gpt3__footer .gpt3__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}
.gpt3__footer .gpt3__footer-btn {
  border: 1px solid #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
}
.gpt3__footer .gpt3__footer-btn p {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}
@media screen and (max-width: 550px) {
  .gpt3__footer .gpt3__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}
.gpt3__footer .gpt3__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}
.gpt3__footer .gpt3__footer-links div {
  width: 250px;
  margin: 1rem;
}
@media screen and (max-width: 550px) {
  .gpt3__footer .gpt3__footer-links div {
    margin: 1rem 0;
  }
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_logo {
  display: flex;
  flex-direction: column;
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_logo img {
  width: 7.375rem;
  height: 1.875rem;
  margin-bottom: 1rem;
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_logo p {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_div h4 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 1rem;
}
.gpt3__footer .gpt3__footer-links .gpt3__footer-links_div p {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin: 0.5rem 0;
  cursor: pointer;
}
.gpt3__footer .gpt3__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}
.gpt3__footer .gpt3__footer-copyright p {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}/*# sourceMappingURL=app.css.map */